/* Hero */
.hero {
  /* display: flex; */
  height: fit-content;
  margin-bottom: 4rem;
}

.hero-logo {
  height: 5rem;
  width: fit-content;
  margin: 3rem auto;
  display: block;
}

.hero-flexbox {
  display: flex;
}

.hero-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6rem;
}

.hero-left p {
  font-size: 1.4rem;
  font-weight: 300;
}

.hero-left a {
  text-decoration: none;
  color: var(--color-red);
}
.hero-left a:hover {
  color: rgb(150, 17, 17);
  cursor: pointer;
}
.hero-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-right: 6rem; */
}

.hero-left__btns {
  margin-top: 1rem;
}

.hero-right .rws-building {
  width: 80%;
}

.hero-right__text {
  margin-top: 0.5rem;
  width: 80%;
  text-align: end;
  overflow: hidden;
}

.hero-right__text span {
  font-family: var(--font-heading);
  font-size: 3rem;
  display: block;
  transform: translateY(-55px);
}

.animate-hero-text {
  animation-name: slide-down;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 0.55, 0.49, 0.99);
}

/* Carousel Section */
.carousel-section {
  height: fit-content;
  padding-bottom: 6rem;
  background-color: var(--color-red);
}
.carousel-section h2 {
  font-family: var(--font-heading);
  font-size: 2.8rem;
  color: white;
  text-align: center;
  padding-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.carousel-container {
  /* padding-top: 2rem; */
  max-width: 1200px;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 6rem;
}

/* Video Section */
.video {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
}

.video__left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__left iframe {
  height: 299px;
  width: 450px;
}

.video__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
}

.video__right h2 {
  font-family: var(--font-heading);
  font-size: 3rem;
}

.video-link {
  width: fit-content;
}

/* Get Started Section */
.get-started-section {
  padding-top: 4rem;
  background-color: var(--color-background-gray);
}

.get-started-container {
  padding: 0 5rem;
}

.get-started-container h2 {
  font-family: var(--font-heading);
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.get-started-col {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.get-started-col span {
  background-color: var(--color-red);
  color: white;
  padding: 1.5rem;
  border-radius: 3px;
  padding: 0.4rem 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  width: fit-content;
  margin-bottom: 1.6rem;
}

.get-started-col h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Redirect Cards Section */
.redirect-cards-section {
  padding-top: 4rem;
  background-color: var(--color-background-gray);
  padding-bottom: 6rem;
}

.redirect-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 20px;
}

.card {
  text-decoration: none;
  color: black;
  max-width: 285px;
  width: 100%;
  height: 375px;
  border-radius: 0%;
  border: none;
  box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
  transition: all 0.3s;
}

.card:hover {
  color: black;
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
}

.card__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 285px;
}
.card img {
  width: auto;
  height: 200px;
  padding: 1rem 4rem 0rem 4rem;
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.card-content h3 {
  font-size: 1.4rem;
}

.card-cta span {
  text-transform: uppercase;
  color: var(--color-red);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.card-cta span:after {
  content: "";
  background-image: url(/assets/svgs/card-rightarrow.svg);
  width: 25px;
  height: 14px;
  display: block;
}

/* Premier section */
.premier-section {
  background-color: black;
}
.premier-container {
  display: flex;
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: white;
}

.premier__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
}

.premier__left h2 {
  font-size: 4.5rem;
  font-family: var(--font-heading);
}

.premier-btns {
  margin-top: 1rem;
}

.premier__right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.premier__right img {
  width: 80%;
}

/* Simple Section */
.simple-container {
  display: flex;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.simple__left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.simple__left img {
  width: 80%;
}
.simple__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
}
.simple__right h2 {
  font-size: 3.5rem;
  font-family: var(--font-heading);
}

.simple-btns {
  margin-top: 1rem;
}

#footer-home {
  color: black;
  background-color: white;
}
#copyright-col-home span {
  color: black;
}
#links-col-1-home a {
  color: black;
}
#links-col-2-home a {
  color: black;
}

@keyframes slide-down {
  5% {
    transform: translateY(0px);
  }
  95% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(55px);
  }
}

@media only screen and (max-width: 1200px) {
  .premier__left {
    padding: 0 2rem;
  }

  .simple__right {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 1100px) {
  .hero-left {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 1000px) {
  .hero-logo {
    height: auto;
    width: 90%;
  }

  .carousel-container {
    width: 100%;
  }

  .video {
    flex-direction: column;
  }

  .video__left {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }
  .video__left iframe {
    height: unset;
    width: unset;
  }
  .video__right {
    width: unset;
    margin-top: 1rem;
  }
  .redirect-cards-section {
    padding-bottom: 4rem;
  }
  .redirect-cards-container {
    grid-template-columns: 1fr 1fr;
  }

  .premier-container {
    flex-direction: column-reverse;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .premier__left {
    width: unset;
  }

  .premier__right {
    width: unset;
    margin-bottom: 2rem;
  }

  .premier__right img {
    width: unset;
    max-height: 150px;
  }

  .simple-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media only screen and (max-width: 900px) {
  .carousel-container {
    padding-bottom: 2rem;
  }
  .hero-flexbox {
    flex-direction: column;
  }

  .hero-left {
    width: 100%;
    padding: 2rem;
  }

  .hero-right {
    width: 400px;
    margin: 0 auto;
    padding: 2rem;
  }

  .hero-right__text {
    width: 100%;
    text-align: center;
  }

  .video {
    padding-top: 0;
  }
}

@media only screen and (max-width: 775px) {
  .get-started-container {
    padding: 0 2rem;
  }

  .simple-container {
    flex-direction: column;
  }

  .simple__left {
    width: unset;
  }

  .simple__left img {
    width: unset;
    max-height: 150px;
  }

  .simple__right {
    width: unset;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    height: unset;
  }

  .hero-left h1 {
    font-size: 4rem;
  }

  .hero-right {
    width: 100%;
    padding: 2rem 1rem;
  }

  .video__right {
    padding: 0 2rem;
  }

  .get-started-row {
    flex-direction: column;
  }

  .redirect-cards-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 450px) {
  .hero-right .rws-building {
    width: 100%;
  }
}
