main {
  padding-top: 80px;
}

/* Pricing Hero Section */
.pricing-hero {
  display: flex;
  height: 60vh;
  min-height: 450px;
}

.pricing-hero-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6rem;
}

.pricing-hero-left h1 {
  font-family: var(--font-heading);
  font-size: 4rem;
}

.pricing-hero-left p {
  font-size: 1.4rem;
  font-weight: 300;
}

.pricing-hero-btns {
  width: fit-content;
}

.pricing-hero-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing-hero-right img {
  max-height: 300px;
}

/* Pricing Cards Section */
.pricing-cards-section {
  background-color: var(--color-background-gray);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.pricing-cards-section h2 {
  font-family: var(--font-heading);
  font-size: 3.5rem;
  text-align: center;
}

.pricing-cards-container {
  display: flex;
  margin-top: 4rem;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

.pricing-cards-card {
  width: 31%;
  min-width: 280px;
  max-width: 320px;
  box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
  background-color: white;
}

.pricing-cards-card--premier {
  border: 3px solid var(--color-red);
}

.pricing-cards-card h3 {
  padding-top: 1rem;
  text-align: center;
}

.pricing-cards-card p {
  color: var(--color-dark-gray);
  padding: 0 1rem;
  font-size: 0.9rem;
}

.pricing-cards-card__cta {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  width: fit-content;
}

.pricing-cards-card a {
  color: white;
  background-color: var(--color-red);
  font-weight: 500;
}

.pricing-cards-card a:hover {
  background-color: var(--color-dark-red);
}

.pricing-cards-card__prices-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-cards-card__total {
  font-size: 3rem;
  font-weight: 500;
}
.pricing-cards-card__month {
  font-size: 1.4rem;
}

.pricing-cards-card ul {
  list-style-image: url("/assets/svgs/check.svg");
  padding-left: 2.5rem;
}

.pricing-cards-card ul li:last-child {
  list-style-image: url("assets/svgs/add.svg");
  font-weight: 500;
  margin-top: 0.5rem;
}

/* Pricing Simple Section */
.pricing-simple-container {
  display: flex;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.pricing-simple__left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-simple__left img {
  width: 80%;
}
.pricing-simple__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
}
.pricing-simple__right h2 {
  font-size: 3.5rem;
  font-family: var(--font-heading);
}

.pricing-simple-btns {
  margin-top: 1rem;
}

/* Full Feature Section */
.full-feature {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: var(--color-background-gray);
}
.full-feature h2 {
  font-family: var(--font-heading);
  font-size: 3.5rem;
  text-align: center;
  padding: 0 1rem;
}

.full-feature table {
  margin: 0 auto;
  margin-top: 2rem;
}

.full-feature table thead img {
  height: 3rem;
  width: auto;
  margin: 0 auto;
  display: block;
}

.full-feature-heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  padding: 0.5rem;
}

.full-feature-heading a {
  color: white;
  background-color: var(--color-red);
  font-weight: 500;
  margin: 0.5rem auto;
  padding: 10px 15px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
  transition: all 0.2s;
}

.full-feature-heading__title {
  font-size: 1.2rem;
}

.full-feature-heading__price {
  color: var(--color-dark-gray);
}

.full-feature-body td {
  text-align: center;
}

.full-feature-body td:not(:last-child) {
  border-right: 2px solid var(--color-dark-gray);
}

.full-feature-body tr:nth-child(even) {
  background-color: rgb(235, 235, 235);
}

@media only screen and (max-width: 1200px) {
  .pricing-hero-left {
    padding: 0 2rem;
  }
  .pricing-simple__right {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .pricing-hero {
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0;
    height: unset;
  }

  .pricing-hero-left {
    width: unset;
  }
  .pricing-hero-right {
    width: unset;
    margin-top: 1rem;
  }

  .pricing-cards-section {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  .pricing-cards-container {
    margin-top: 2rem;
  }
  .pricing-cards-card {
    margin-bottom: 2rem;
  }

  .pricing-simple-container {
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .pricing-simple__left {
    width: unset;
  }
  .pricing-simple__left img {
    width: unset;
    max-height: 150px;
  }
  .pricing-simple__right {
    width: unset;
    margin-top: 2rem;
  }

  .full-feature {
    padding: 4rem 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .full-feature-heading {
    width: 190px;
  }
  .full-feature-heading__title {
    font-size: 1rem;
  }
  .full-feature-body th {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 750px) {
  .full-feature {
    padding: 4rem 1rem;
  }
  .full-feature-heading {
    width: unset;
  }
  .full-feature-heading a {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .pricing-hero-right img {
    max-height: unset;
    width: 75%;
  }
}

@media only screen and (max-width: 500px) {
  .full-feature {
    padding: 4rem 0.5rem;
  }
  .full-feature-heading__title {
    font-size: 0.8rem;
  }
  .full-feature-heading__price {
    margin-top: 0.3rem;
    font-size: 0.7rem;
  }
}
