/* Simple Hero Section */
.simple-hero {
  display: flex;
  height: 60vh;
  min-height: 450px;
  max-width: 1200px;
  margin: 0 auto;
}

.simple-hero-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

.simple-hero-left h1 {
  font-family: var(--font-heading);
  font-size: 4rem;
}

.simple-hero-left p {
  font-size: 1.4rem;
  font-weight: 300;
}

.simple-hero-btns {
  width: fit-content;
}

.simple-hero-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.simple-hero-right img {
  width: 80%;
}

/* Simple Helping Section */
.simple-helping {
  padding: 4rem 2rem;
  background-color: var(--color-background-gray);
}
.simple-helping .flex-container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}
.simple-helping__left {
  width: 50%;
  display: flex;
  justify-content: center;
}
.simple-helping__left img {
  max-width: 80%;
}
.simple-helping__right {
  width: 50%;
}
.simple-helping__right h2 {
  font-family: var(--font-heading);
  font-size: 3.5rem;
}

/* Simple Repairs Section */
.simple-repairs {
  padding: 4rem 2rem;
}
.simple-repairs .flex-container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}
.simple-repairs__left {
  width: 50%;
}
.simple-repairs__left h2 {
  font-family: var(--font-heading);
  font-size: 3.5rem;
}
.simple-repairs__right {
  width: 50%;
  display: flex;
  justify-content: center;
}
.simple-repairs__right img {
  max-width: 80%;
}

@media only screen and (max-width: 1000px) {
  .simple-hero {
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0;
    height: unset;
  }
  .simple-hero-left {
    width: unset;
  }
  .simple-hero-right {
    width: unset;
    margin-top: 2rem;
  }
  .simple-hero-right img {
    width: unset;
    max-height: 200px;
  }
  .simple-helping .flex-container {
    flex-direction: column;
  }
  .simple-helping__left {
    width: 100%;
  }
  .simple-helping__right {
    width: 100%;
    margin-top: 1rem;
  }
  .simple-helping__left img {
    width: unset;
    max-height: 200px;
  }
}

@media only screen and (max-width: 900px) {
  .simple-repairs .flex-container {
    flex-direction: column;
    max-width: 1100px;
  }
  .simple-repairs__left {
    width: 100%;
  }
  .simple-repairs__right {
    width: 100%;
  }
  .simple-repairs__right img {
    max-height: 200px;
    max-width: unset;
  }
}

@media only screen and (max-width: 550px) {
  .simple-hero-right img {
    max-height: unset;
    width: 80%;
  }
}
