@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --color-red: #c41230;
  --color-dark-red: #b11832;
  --font-heading: "Bebas Neue", cursive;
}

body {
  font-size: 1rem;
}

/* global */
.nav-link {
  color: rgba(0, 0, 0, 0.75);
}
.nav-link:hover {
  color: rgba(0, 0, 0, 0.75);
}
.nav-link::after {
  display: block;
  content: "";
  border-bottom: solid 1px rgba(0, 0, 0, 0.75);
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
  transform-origin: 50% 0%;
}
.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: 50% 0%;
}
.flat-link {
  color: var(--color-red);
  text-decoration: none;
  font-weight: 500;
}

.flat-link:hover {
  color: var(--color-red);
}
.flat-link::after {
  display: block;
  content: "";
  border-bottom: solid 2px var(--color-red);
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
  transform-origin: 0% 50%;
}
.flat-link:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}
.arrow:after {
  content: "";
  background-image: url(/assets/svgs/rightarrow.svg);
  width: 19px;
  height: 13px;
  display: inline-block;
}

.circle-btn-link {
  padding: 10px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

/* navbar */
.navbar {
  width: 100%;
  position: fixed;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  height: 80px;
  background-color: white;
  z-index: 1002;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}

.rws-logo {
  height: 3rem;
}

.login-btn {
  color: black;
  border: 2px solid black;
  margin-right: 16px;
}

.login-btn:hover {
  color: black;
  border: 2px solid black;
  box-shadow: inset 0 0 0 1px black;
}

.sign-up-btn {
  color: white;
  background-color: var(--color-red);
  border: 2px solid var(--color-red);
}

.sign-up-btn:hover {
  color: white;
  background-color: var(--color-dark-red);
  border: 2px solid var(--color-dark-red);
}

/* Mobile Nav */

.mobile-nav {
  position: fixed;
  margin-top: 80px;
  height: 100vh;
  left: -100%;
  width: 80vw;
  background-color: black;
  z-index: 1001;
  max-width: 400px;
  transition: all 0.3s;
  color: white;
}

.show-mobile-nav {
  left: 0%;
}

.mobile-nav-btns {
  margin: 2rem;
  display: flex;
}
.mobile-circle-btn {
  padding: 10px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}
.mobile-login-btn {
  color: white;
  border: 2px solid white;
  margin-right: 10px;
}
.mobile-nav-hr {
  margin: 2rem 1rem;
}
.mobile-nav ul {
  list-style: none;
}

.mobile-nav li {
  margin: 2rem 0;
}

.mobile-nav li a {
  text-decoration: none;
  color: white;
}

/* Hero */
.hero {
  display: flex;
  height: 70vh;
  min-height: 450px;
}

.hero-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6rem;
}

.hero-left h1 {
  font-family: var(--font-heading);
  font-size: 5rem;
}

.hero-left p {
  font-size: 1.4rem;
  font-weight: 300;
}

.hero-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-left__btns {
  margin-top: 1rem;
}

.hero-right .rws-building {
  width: 80%;
}

.hero-right__text {
  margin-top: 0.5rem;
  width: 80%;
  text-align: end;
  overflow: hidden;
}

.hero-right__text span {
  font-family: var(--font-heading);
  font-size: 3rem;
  display: block;
  transform: translateY(-55px);
}

.animate-hero-text {
  animation-name: slide-down;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 0.55, 0.49, 0.99);
}

/* Carousel Section */
.carousel-section {
  height: fit-content;
  padding-bottom: 6rem;
  background-color: var(--color-red);
}
.carousel-section h2 {
  font-family: var(--font-heading);
  font-size: 2.8rem;
  color: white;
  text-align: center;
  padding-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.carousel-container {
  padding-top: 2rem;
  max-width: 1200px;
  width: 75%;
  margin: 0 auto;
}

/* Video Section */
.video {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
}

.video__left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__left iframe {
  height: 299px;
  width: 450px;
}

.video__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
}

.video__right h2 {
  font-family: var(--font-heading);
  font-size: 3rem;
}

.video-link {
  width: fit-content;
}

/* Get Started Section */
.get-started-section {
  padding-top: 4rem;
  background-color: rgb(243 243 243);
}

.get-started-container {
  padding: 0 5rem;
}

.get-started-container h2 {
  font-family: var(--font-heading);
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.get-started-col {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.get-started-col span {
  background-color: var(--color-red);
  color: white;
  padding: 1.5rem;
  border-radius: 3px;
  padding: 0.4rem 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  width: fit-content;
  margin-bottom: 1.6rem;
}

.get-started-col h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Redirect Cards Section */
.redirect-cards-section {
  padding-top: 4rem;
  background-color: rgb(243 243 243);
  padding-bottom: 6rem;
}

.redirect-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 20px;
}

.card {
  text-decoration: none;
  color: black;
  max-width: 285px;
  width: 100%;
  height: 375px;
  border-radius: 0%;
  border: none;
  box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
  transition: all 0.3s;
}

.card:hover {
  color: black;
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
}

.card__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 285px;
}
.card img {
  width: auto;
  height: 200px;
  padding: 1rem 4rem 0rem 4rem;
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.card-content h3 {
  font-size: 1.4rem;
}

.card-cta span {
  text-transform: uppercase;
  color: var(--color-red);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.card-cta span:after {
  content: "";
  background-image: url(/assets/svgs/card-rightarrow.svg);
  width: 25px;
  height: 14px;
  display: block;
}

/* Premier section */
.premier-section {
  background-color: black;
}
.premier-container {
  display: flex;
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: white;
}

.premier__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
}

.premier__left h2 {
  font-size: 4.5rem;
  font-family: var(--font-heading);
}

.premier-btns {
  margin-top: 1rem;
}

.premier__right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.premier__right img {
  width: 80%;
}

/* Simple Section */
.simple-container {
  display: flex;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.simple__left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.simple__left img {
  width: 80%;
}
.simple__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
}
.simple__right h2 {
  font-size: 3.5rem;
  font-family: var(--font-heading);
}

.simple-btns {
  margin-top: 1rem;
}

/* CTA Section */
.cta-section {
  height: 350px;
  background-color: var(--color-red);
  clip-path: ellipse(75% 100% at center top);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-section h2 {
  font-family: var(--font-heading);
  font-size: 3.5rem;
}

.cta-btns {
  display: flex;
  padding-top: 1rem;
}

.cta-btns a {
  padding: 10px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  width: 200px;
  text-align: center;
  font-weight: 500;
}

.cta-btn-white {
  color: var(--color-red);
  background-color: white;
  margin-right: 1.5rem;
  transition: all 0.4s;
}

.cta-btn-white:hover {
  color: var(--color-red);
  box-shadow: inset 0 0 0 2px var(--color-red);
}

.cta-btn-transparent {
  color: white;
  border: 2px solid white;
}
.cta-btn-transparent:hover {
  color: white;
  box-shadow: inset 0 0 0 1px #fff;
}

/* Footer */
.footer-container {
  height: 300px;
  margin-top: 4rem;
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 20px;
}

.links-col ul {
  list-style: none;
  padding-left: 0;
}

.links-col li {
  margin-top: 1rem;
}

.links-col li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.img-col img {
  height: 200px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.copyright {
  display: flex;
  flex-direction: column;
}

.legal-links ul {
  list-style: none;
  display: flex;
}

.legal-links li {
  margin-left: 2rem;
}

.legal-links li:hover {
  text-decoration: underline;
  cursor: pointer;
}
@keyframes slide-down {
  5% {
    transform: translateY(0px);
  }
  95% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(55px);
  }
}

@media only screen and (max-width: 1200px) {
  .premier__left {
    padding: 0 2rem;
  }

  .simple__right {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 1100px) {
  .hero-left {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 1000px) {
  .carousel-container {
    width: 100%;
  }

  .video {
    flex-direction: column;
  }

  .video__left {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }
  .video__left iframe {
    height: unset;
    width: unset;
  }
  .video__right {
    width: unset;
    margin-top: 1rem;
  }

  .redirect-cards-container {
    grid-template-columns: 1fr 1fr;
  }

  .premier-container {
    flex-direction: column-reverse;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .premier__left {
    width: unset;
  }

  .premier__right {
    width: unset;
    margin-bottom: 2rem;
  }

  .premier__right img {
    width: unset;
    max-height: 150px;
  }

  .simple-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media only screen and (max-width: 900px) {
  .hero {
    flex-direction: column;
    min-height: 590px;
  }

  .hero-left {
    width: 100%;
    padding: 2rem;
  }

  .hero-right {
    width: 400px;
    margin: 0 auto;
    padding: 2rem;
  }

  .hero-right__text {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 775px) {
  .get-started-container {
    padding: 0 2rem;
  }

  .simple-container {
    flex-direction: column;
  }

  .simple__left {
    width: unset;
  }

  .simple__left img {
    width: unset;
    max-height: 150px;
  }

  .simple__right {
    width: unset;
    margin-top: 2rem;
  }
  .footer-top {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .logo-col {
    display: none;
  }

  .img-col {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .links-col {
    grid-row-start: 2;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    height: unset;
  }

  .hero-left h1 {
    font-size: 4rem;
  }

  .hero-right {
    width: 100%;
    padding: 2rem 1rem;
  }

  .video__right {
    padding: 0 2rem;
  }

  .get-started-row {
    flex-direction: column;
  }

  .redirect-cards-container {
    grid-template-columns: 1fr;
  }

  .cta-section h2 {
    padding: 0 2rem;
  }

  .cta-btns {
    flex-direction: column;
  }

  .cta-btn-white {
    margin-right: unset;
    margin-bottom: 1rem;
  }
  .footer-bottom {
    flex-direction: column;
    justify-content: unset;
  }

  .legal-links ul {
    padding-left: 0;
  }

  .legal-links li {
    margin-left: 0;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .hero-right .rws-building {
    width: 100%;
  }

  .footer-top {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .links-col {
    grid-row-start: auto;
  }

  .img-col img {
    height: 170px;
  }
}

@media only screen and (max-width: 380px) {
  .mobile-circle-btn {
    padding: 8px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s;
  }

  .mobile-login-btn {
    margin-right: 10px;
  }
}
