/* Order Hero Section */
.order-hero {
  color: #faefef;
  background-color: var(--color-red);
}

.order-hero .flex-container {
  display: flex;
  min-height: 220px;
  padding: 0 6rem;
  width: 1100px;
  margin: 0 auto;
}

.order-hero-left {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-hero-left h1 {
  font-family: var(--font-heading);
  font-size: 3rem;
}

.order-hero-left p {
  font-size: 1.4rem;
  font-weight: 300;
}

.order-hero-right {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-hero-right img {
  max-height: 200px;
}

/* Premier Order Form */
.hide-element {
  display: none;
}
.show-element {
  display: block;
}
.asterisk {
  color: var(--color-red);
}
.premier-order-form hr {
  margin-right: 2rem;
}
.premier-order-form {
  width: 1100px;
  margin: 0 auto;
  padding: 4rem 1rem;
  margin-bottom: 8rem;
}
.premier-order-form h2 {
  font-size: 1.8rem;
  font-weight: 300;
}
.premier-order-form .custom-label {
  color: dodgerblue;
  margin-bottom: 0.2rem;
  font-weight: 500;
}
.premier-order-form .label-input-pair {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.premier-order-form .label-input-pair.hide-element {
  display: none;
}
.premier-order-form .label-input-pair input {
  border: 1px solid rgb(187, 187, 187);
  padding: 0.5rem 0.7rem;
  border-radius: 3px;
  margin-right: 2rem;
}
.premier-order-form .label-input-pair select {
  border: 1px solid rgb(187, 187, 187);
  padding: 0.5rem 0.7rem;
  border-radius: 3px;
  margin-right: 2rem;
}
.premier-order-form .label-input-pair label {
  color: dodgerblue;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.premier-order-form button {
  padding: 10px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  color: white;
  background-color: var(--color-red);
  border: none;
  margin-top: 2rem;
}
.premier-order-form button:hover {
  background-color: var(--color-dark-red);
}

/* About you form / premier-order-form__personal section */
.premier-order-form__personal {
  margin-bottom: 2rem;
  width: 800px;
}
.ordered-by-radios {
  margin-bottom: 2rem;
}
.ordered-by-radios label {
  margin-right: 2rem;
}
.coverage-type-radios {
  margin-bottom: 2rem;
}
.coverage-type-radios label {
  margin-right: 2rem;
}
.premier-order-form__personal .flex-group {
  display: flex;
}
.premier-order-form__personal .label-input-pair {
  width: 50%;
}

/* Property form section */
.premier-order-form__property {
  width: 800px;
}
.premier-order-form__property .flex-group {
  display: flex;
}
.premier-order-form__property .flex-group .label-input-pair--state {
  width: 25%;
}
.premier-order-form__property .flex-group .label-input-pair--zip {
  width: 25%;
}
.premier-order-form__property .label-input-pair {
  width: 50%;
}

/* Dynamic Seller Info Group */
.seller-info-group .flex-group {
  display: flex;
}
.seller-info-group .label-input-pair {
  width: 50%;
}

/* Dynamic Seller Info Group */
.buyer-info-group .flex-group {
  display: flex;
}
.buyer-info-group .label-input-pair {
  width: 50%;
}

/* Dynamic Buyer Agent Info */
.premier-order-form__buyer-agent {
  width: 800px;
}
.premier-order-form__buyer-agent .flex-group {
  display: flex;
}
.premier-order-form__buyer-agent .flex-group .label-input-pair--state {
  width: 25%;
}
.premier-order-form__buyer-agent .flex-group .label-input-pair--zip {
  width: 25%;
}
.premier-order-form__buyer-agent .label-input-pair {
  width: 50%;
}

/* Dynamic Listing Agent Info */
.premier-order-form__listing-agent {
  width: 800px;
}
.premier-order-form__listing-agent .flex-group {
  display: flex;
}
.premier-order-form__listing-agent .flex-group .label-input-pair--state {
  width: 25%;
}
.premier-order-form__listing-agent .flex-group .label-input-pair--zip {
  width: 25%;
}
.premier-order-form__listing-agent .label-input-pair {
  width: 50%;
}

/* Dynamic Deliver To */
.premier-order-form__deliver-to {
  width: 800px;
}
.premier-order-form__deliver-to .label-input-pair {
  width: 50%;
}

/* Pricing */
.premier-order-form__pricing-guide {
  width: 800px;
}
.premier-order-form__pricing-guide .flex-group {
  display: flex;
}
.premier-order-form__pricing-guide .label-input-pair--sq-ft {
  width: 25%;
}
.premier-order-form__pricing-guide table {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
.premier-order-form__pricing-guide table th,
td {
  padding: 0.3rem 2rem 0rem 0rem;
}
.premier-order-form__pricing-guide .total-cost {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

/* Additional Coverages */
.premier-order-form__add-coverages {
  width: 800px;
}
.premier-order-form__add-coverages .label-input-pair {
  width: 50%;
}

/* Notes */
.premier-order-form__notes {
  width: 800px;
}
.premier-order-form__notes .label-input-pair {
  width: 75%;
}
.premier-order-form__notes textarea {
  border: 1px solid rgb(187, 187, 187);
  padding: 0.5rem 0.7rem;
  border-radius: 3px;
  margin-right: 2rem;
}

/* Special Offer */
.premier-order-form__special-offer {
  width: 800px;
  margin-bottom: 2rem;
}
.premier-order-form__special-offer h6 {
  font-size: 1.2rem;
}
.premier-order-form__special-offer .special-offer-radios {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.premier-order-form__special-offer .special-offer-radios input {
  margin-right: 0.5rem;
}

/* Go Green */
.premier-order-form__go-green {
  width: 800px;
}
.premier-order-form__go-green .flex-box--yes {
  display: flex;
  align-items: start;
}
.premier-order-form__go-green .flex-box--yes input {
  margin-top: 0.4rem;
  margin-right: 0.5rem;
}
.premier-order-form__go-green .flex-box--no {
  display: flex;
  align-items: center;
}
.premier-order-form__go-green .flex-box--no input {
  margin-right: 0.5rem;
}
